<div class="py-5 bg-primary text-white ">
  	<div class="container">
      <h1>404</h1>
      <p>Page not found</p>
	  <a href="{{ shop.url }}" class="btn btn-secondary">Take me Home</a>
  	</div>
</div>
{% schema %}
{
  "name": "Not Found",
  "tag": "section",
  "settings": [

  ],
  "presets": [
    {
      "name": "Not Found",
      "settings": {
      }
    }
  ]
}
{% endschema %}